*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

section{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.leftSection{
    background-image: url(/img/leftBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.rightSection{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.btnContainer{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn{
    text-align: center;
    color: #f4f9fb;
    margin-bottom: 10%;
    font-size: 280%;
}

button{
    border-radius: 25px;
    padding: 4% 10%;
    border: none;
    color: #41454c;
    font-size: 30%;
}

.article{
    border: 1px solid rgba(0, 0, 0, 0.253);
    padding: 2%;
}

.article img{
    padding-top: 2%;
    width: 80%;
    filter: brightness(110%);
}

.article img:hover{
    filter: brightness(120%);
}

.article .new{
    color: #f4f9fb;
    background-color: #173f95;
    width: 40%;
    text-align: center;
    margin-left: 15px;
    padding: 3px;
    font-size: 60%;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.452);
}

.containerArticle{
    color: #41454c;
    text-align: center;
    padding: 1% auto;
}

.containerArticle .price{
    font-size: 120%;
    font-weight: 800;
}

.containerArticle h3{
    font-size: 80%;
    padding-top: 2%;
}

.containerArticle p{
    font-size: 12px;
    padding-top: 4%;
}

@media screen and (max-width: 620px){
    section{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 80%);
    }

}
@media screen and (max-width: 370px){
    section{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(1, 40%);
    }

    .rightSection{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(4, 26%);
    }

    .leftSection{
        background-image: url(img/leftBg.jpg);
    }

    .btn{
        font-size: 240%;
    }
    
    button{
        border-radius: 25px;
        padding: 4% 10%;
        border: none;
        color: #41454c;
        font-size: 30%;
        cursor: crosshair;
    }

}